* {
  box-sizing: border-box;
}

.search {
  width: fit-content;
  display: flex;
  font-size: 1.2rem;
  line-height: normal;
}

/* Style the search field */
.search input[type=text] {
  padding: 10px;
  border: 1px solid grey;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  float: left;
  width: fit-content;
  width: -moz-fit-content;
  background: #f1f1f1;
}

/* Style the submit button */
.search button {
  width: auto;
  float: left;
  width: fit-content;
  width: -moz-fit-content;
  padding: 10px;
  background: #2196F3;
  color: white;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.search button:hover {
  background: #0b7dda;
}

/* Clear floats */
.search::after {
  content: "";
  clear: both;
  display: table;
}